@import "../../assets/vars.scss";

.form-field {

  &__validation {
    margin-bottom: 2px;
    color: $red1;
  }

  &__input {
    display: block;
    outline: none;

    &::placeholder {
      color: $grey1;
      opacity: 1;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}