@import "../../assets/vars.scss";

.table {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__table {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    box-shadow: 0px 1px 0px $white2;
  }

  &__buttons-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
  }

  &__button {
    align-self: flex-end;
    margin-bottom: 12px;

    &-copy {
      padding: 5px 16.5px;
      color: $white;
      border-radius: 2px;
    }

    &-delete {
      width: 20px;
      height: 20px;
      align-self: center;
      padding: 0;
      border: none;
      background-color: transparent;
      line-height: 0;
      cursor: pointer;

      &:disabled {
        cursor: default;

        & .table__delete-icon {
          fill: $grey1;
        }
      }
    }
  }

  &__delete-icon {
    fill: $red1;
    transition: fill .25s ease-in-out;

    &:hover {
      fill: $red;
    }
  }

  &__header {
    background-color: $blue1;

    &-row {
      color: rgba(255, 255, 255, 0.5);
    }

    &-cell {
      height: 30px;
      padding: 8px 12px;
    }
  }

  &__body {
    background-color: $white;

    &-row {
      color: $grey1;

      &--big {
        height: 72px;
      }
    }

    &-cell {
      padding: 8px 12px;
      border-bottom: 1px solid $white2;
      border-right: 1px solid $white2;
      height: 32px;

      &--centered {
        max-width: 96px;
        text-align: center;
        border-right: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &__row-button {
    text-decoration-line: underline;
    transition: 0.25s ease-in-out;

    &--blue {
      color: $light-blue3;

      &:hover {
        color: $blue;
      }
    }

    &--red {
      color: $red2;

      &:hover {
        color: $dark-red;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    &__header-cell {
      padding: 4px 6px;
    }

    &__body-cell {
      padding: 4px 6px;
    }
  }
}

.table__body-row-enter {
  opacity: 0;
  //background-color: green;
}

.table__body-row-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in, //background-color 0.5s;
}

.table__body-row-exit {
  opacity: 1;
  //background-color: #fff;
}

.table__body-row-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in, //background-color 0.5s;
}