$light-grey: #E5E5E5;
$light-grey1: #E6ECEF;
$grey1: #868A8D;
$grey2: #9ca1a7;
$dark-grey: #C2CBD1;
$dark-grey1: #495057;

$light-blue: #1193FF;
$light-blue2: #0e78cf;
$light-blue3: #057AE3;
$blue: #10538f;
$blue1: #0A508B;

$black: #000000;
$black1: #212229;

$white: #FFFFFF;
$white1: #f1eded;
$white2: #EBEBEB;

$red: #f57b77;
$red1: #EB5E58;
$red2: #B0263D;
$dark-red: #751525;

$tablet: 768px;
$mobile: 550px;