@import './assets/normalize.scss';
@import './assets/fonts.scss';
@import './assets/vars.scss';

html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $light-grey;
}

#root {
  height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}